* {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding: 15px;
    background-color: rgba(230,70, 3,0.3);
  }
  
  .layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  .layui-card{
    background-color: rgba(231, 233, 238, 0.7) ;
  }
  .noPadding{
      padding-top: 0;
  }

  .layui-form-select dl dd.layui-this{
      background-color: rgb(230,70, 30);    
  }

  .layui-input-block{
      width: 1500px;
  }
  .cover-box {
    display: flex;
    }
    /* 左侧裁剪区域的样式 */
    .cover-left {
    width: 400px;
    height: 280px;
    overflow: hidden;
    margin-right: 20px;
    }
    /* 右侧盒子的样式 */
    .cover-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    /* 预览区域的样式 */
    .img-preview {
    width: 200px;
    height: 140px;
    background-color: #ccc;
    margin-bottom: 20px;
    overflow: hidden;
    }